body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

#background {
    background:url("../img/background.png") top left no-repeat;
    z-index: 9999;
}

#coffee {
    background:url("../img/coffee.png") top left no-repeat;
    z-index: 8888;
}

#inside {
    background:url("../img/inside.png") top left no-repeat;
    z-index: 7777;
}

#last-brew {
    top:280px;
    font-size: 22px;
    text-align: center;
    z-index:9999;
}

#coffee-view div {
    position: absolute;
    height:320px;
    width:240px;
}

#coffee-view .container {
    overflow: hidden;
}
#brew-button button {
    position: absolute;
    top: 278px;
    width: 150px;
    height: 40px;
    z-index: 9999;
    background: darkslategrey;
    border: none;
    border-radius: 4px;
    color: #fff;
    left: 55px;
    font-size: 16px;
    box-shadow: 0px 2px 2px rgba(0,0,0,.3);
}

#brew-button button:focus {
    background: cadetblue;
}